# Dependencies
**/node_modules/
node_modules/
**/venv/
venv/
env/
**/.env
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.sqlite
*.sqlite3
*.db
backend/feedpulse.db
backend/test_feedpulse.db

# Build outputs
**/dist/
dist/
build/
*.egg-info/

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
